In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
#help(pd.Series)

In [9]:
myindex = ['USA','Canada', 'Mexico']

In [10]:
mydata = [1556,2445,5555]

In [16]:
myser = pd.Series(mydata,myindex)

myser

In [12]:
myser

USA       1556
Canada    2445
Mexico    5555
dtype: int64

In [14]:
myser[0]

1556

In [15]:
myser['USA']

1556

In [17]:
ages={'Sam':5,'ASad':7,'Ali':9}

In [18]:
pd.Series(ages)

Sam     5
ASad    7
Ali     9
dtype: int64

In [21]:
# TASK: Use pandas to grab the expenses paid by Bob.
import pandas as pd
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})
bob_expense = expenses['Bob']
bob_expense

150

In [32]:
#Dictionary Imaginary Sales Data
q1 = {'Japan':304,'Italy':200,'Korea':400,'China':601, }
q2 = {'Pakistan':704,'Italy':350,'Thailand':300,'China':104,}

In [33]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [34]:
sales_q1

Japan    304
Italy    200
Korea    400
China    601
dtype: int64

In [35]:
sales_q2

Pakistan    704
Italy       350
Thailand    300
China       104
dtype: int64

In [36]:
sales_q1['Japan']

304

In [37]:
sales_q1.keys()

Index(['Japan', 'Italy', 'Korea', 'China'], dtype='object')

In [38]:
sales_q1 * 2

Japan     608
Italy     400
Korea     800
China    1202
dtype: int64

In [39]:
sales_q1 + sales_q2

China       705.0
Italy       550.0
Japan         NaN
Korea         NaN
Pakistan      NaN
Thailand      NaN
dtype: float64

In [43]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [42]:
sales_q1.dtype

dtype('int64')

In [44]:
first_half.dtype

dtype('float64')