In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('annual.csv')

In [13]:
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
2097,2021,Level 4,FF111,Basic Material Wholesaling,Dollars (millions),H28,Disposals of fixed assets,Financial position,154,"ANZSIC06 groups F331, F332, and F333"
2098,2021,Level 4,FF111,Basic Material Wholesaling,Dollars (millions),H29,Other assets,Financial position,"3,324","ANZSIC06 groups F331, F332, and F333"
2099,2021,Level 4,FF111,Basic Material Wholesaling,Dollars (millions),H30,Total equity and liabilities,Financial position,"14,061","ANZSIC06 groups F331, F332, and F333"
2100,2021,Level 4,FF111,Basic Material Wholesaling,Dollars (millions),H31,Shareholders funds or owners equity,Financial position,"5,141","ANZSIC06 groups F331, F332, and F333"
2101,2021,Level 4,FF111,Basic Material Wholesaling,Dollars (millions),H32,Cu,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2102 entries, 0 to 2101
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         2102 non-null   int64
 1   Industry_aggregation_NZSIOC  2102 non-null   object
 2   Industry_code_NZSIOC         2102 non-null   object
 3   Industry_name_NZSIOC         2102 non-null   object
 4   Units                        2102 non-null   object
 5   Variable_code                2102 non-null   object
 6   Variable_name                2102 non-null   object
 7   Variable_category            2101 non-null   object
 8   Value                        2101 non-null   object
 9   Industry_code_ANZSIC06       2101 non-null   object
dtypes: int64(1), object(9)
memory usage: 164.3+ KB

In [15]:
str(1234567645)[-4:]

'7645'

In [22]:
def last_four(Value):
    return str(Value)[-4:]

In [23]:
last_four(123455667777)

'7777'

In [24]:
df['Value'].apply(last_four)

0       ,504
1       ,890
2       ,593
3       ,020
4       ,404
        ...
2097     154
2098    ,324
2099    ,061
2100    ,141
2101     nan
Name: Value, Length: 2102, dtype: object

In [63]:
def yelp(Price):
    if Price < 500:
        return '$'
    elif Price >= 500 and Price <= 5000:
        return '$$'
    else:
        return '$$$'

In [67]:
df['yelp'] = df['Year'].apply(yelp)

In [65]:
df['yelp']

0       $$
1       $$
2       $$
3       $$
4       $$
        ..
2097    $$
2098    $$
2099    $$
2100    $$
2101    $$
Name: yelp, Length: 2102, dtype: object

In [68]:
lambda num: num*2

In [69]:
simple(2)

4

In [71]:
df['Year'].apply(lambda num: num*2)

0       4042
1       4042
2       4042
3       4042
4       4042
        ...
2097    4042
2098    4042
2099    4042
2100    4042
2101    4042
Name: Year, Length: 2102, dtype: int64

In [72]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06,yelp
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...,$$
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...,$$
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...,$$
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...,$$
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...,$$

In [73]:
df = pd.read_csv('Book.csv')

In [74]:
df

,Pro,Line,beg,final,Liabilities,Line No,begining
0,Monetary resources,1,800,900,Money borrowed for short time,68,2000
1,Current investment,2,1000,500,Notes payable,69,0
2,Bill receivable,3,0,0,Account payable,70,1000
3,Dividends receivable,4,0,0,Advance payment,71,300
4,Interest in black,5,0,0,Wage payable,72,0
5,Receivables,6,1200,1300,Payable benefits,73,0
6,Accounts receivable-other,7,0,0,Dividends payable,74,0

In [75]:
def quality(Line,beg):
    if beg/Line > 0.25:
        return "Generous"
    else:
        return "other"

In [76]:
quality(500,1000)

'Generous'

In [77]:
df[['beg','Line']].apply(lambda df: quality(df['Line'],df['beg']),axis=1)

0    Generous
1    Generous
2       other
3       other
4       other
5    Generous
6       other
dtype: object

In [78]:
df['quality'] = np.vectorize(quality)(df['Line'],df['beg'])

In [79]:
df.head()

,Pro,Line,beg,final,Liabilities,Line No,begining,quality
0,Monetary resources,1,800,900,Money borrowed for short time,68,2000,Generous
1,Current investment,2,1000,500,Notes payable,69,0,Generous
2,Bill receivable,3,0,0,Account payable,70,1000,other
3,Dividends receivable,4,0,0,Advance payment,71,300,other
4,Interest in black,5,0,0,Wage payable,72,0,other